@media (max-width: 600px) {
    h1 {
        font-size: 7vw;
    }

    h2 {
        font-size: 6vw;
    }

    h3 {
        font-size: 5vw;
    }

    .Password-generated {
        width: 100%;
    }

    .password-settings {
        width: 100%;
        padding: 20px;
    }

    .range-container {
        padding-top: 10px;
    }

    .option label {
        font-size: 1.2rem;
    }

    .checkInput {
        width: 5vw;
        height: 5vw;
    }
}

@media (max-width: 480px) {
    #PassDetails {
        font-size: 7.5vw;
    }

    .Copy {
        width: 40px;
        height: 40px;
        padding: 2px 0;
    }

    .password-settings {
        padding: 10px;
    }

    .Password-generated {
        padding: 20px 10px;
    }

    .checkInput {
        width: 20px;
        height: 20px;
        margin-right: 10px;
    }

    .option label {
        font-size: 5vw;
    }
}

@media (max-width: 450px) {
    h1 {
        font-size: 6vw;
    }

    h2 {
        font-size: 1.3rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    .option {
        width: 100%;
        align-items: center;
    }

    .option label {
        width: 100%;
        font-size: 1.2rem;
        text-align: center;
    }

    .Strength {
        flex-direction: column;
    }
}

@media (min-width: 601px) {
    body {
        animation: ShowContaner 3s;
    }
}